= render 'layouts/sorting_bar'
- if notice
  %p#notice= notice
.food-contents
  .container-fluid.container.food-table
    - @products.each_slice(4) do |product|
      .row.food-row
        - product.each do |prod|
          .col-md-3.food-column
            .card
              .card-img-top= image_tag prod.image_url, id: 'product-image'
              .card-body
                %h4.card-title= prod.name
                %p.card-text= prod.description
                %p#price-tag.card-text= prod.price