.h2 Your Cart
.row.justify-content-center
  .ul
    - @cart.order_items.each do |item|
      .li= "#{item.quantity}x #{item.product.name}"
= button_to 'Empty cart', @cart, class: "btn btn-primary", :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back', carts_path, class: "btn btn-primary"

