.service-header
  .div-nav
    %nav.navbar.navbar-static-top.navbar-expand-lg.navbar-light
      %div
        = image_tag('coffee.jpg', class: "d-inline-block align-top logo-img")
        = link_to home_path, id: 'logo-text', class: 'navbar-brand texty' do
          EUREKA
          %br/
          CAFFEE
      %button.navbar-toggler{ 'aria-controls' => 'navbar-nav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbar-nav', 'data-toggle' => 'collapse', :type => 'button' }
        %span.navbar-toggler-icon
      #navbar-nav.collapse.navbar-collapse.bg-custom
        %ul#menu-top.navbar-nav.ml-auto
          %li.nav-item.active
            = link_to home_path, class: 'nav-link texty' do
              = content_tag(:span, '·', class: 'middot')
              HOME
          %li.nav-item
            = link_to home_path, class: 'nav-link texty', id: 'cart'  do
              = content_tag(:span, '·', class: 'middot')
              %i.fas.fa-shopping-cart              
          - if logged_in?
            %li.nav-item.dropdown
              %a.dropdown-toggle.texty.nav-link{ 'data-toggle' => 'dropdown', :href => '#' }
                Account
              %ul.dropdown-menu.texty
                %li= link_to 'Profile', current_user
                %li= link_to 'Settings', edit_user_path(current_user)
                %li
                  = link_to 'Log out', logout_path, method: :delete
            - if current_user.admin? && !current_user?(@user)
              %li.nav-item.active
                = link_to home_path, class: 'nav-link texty' do
                  = content_tag(:span, '·', class: 'middot')
                  Dashboard
          - else
            %li.nav-item
              = link_to 'Log in', login_path, :class =>'nav-link texty'
            %li.nav-item
              = link_to 'Sign up', new_user_path, :class =>'nav-link texty'
  .jumbotron.text-center
    %div
      %h1.title.texty Eureka Caffee
      = image_tag 'lines.png', style: 'filter:invert(100%)', width: '50px'
      = image_tag 'lines.png', style: 'filter:invert(100%)', width: '50px'
      %i.fas.fa-utensils
      = image_tag 'lines.png', style: 'filter:invert(100%)', width: '50px'
      = image_tag 'lines.png', style: 'filter:invert(100%)', width: '50px'
      %div
      %p.description.texty The go-to place for ordering food!
